@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noka Black";
    src: url("../public/assets/Noka-black.otf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
